/* CSS Document */
body{
margin-top:0px;
text-align:center;
}
.container{
margin:0px auto;
width:1260px;
}
.mainDiv{
text-align:left;
float:left;
width:1260px;

border:solid 1px #f0f0f0;
}
.headerPart{
width:1260px;
float:left;
padding-bottom:3px;
background-color: #CC3300;
}
.headBgup{
width:1260px;
height:9px;
float:left;
}
.logo{
width:1230px;
height:35px;
float:left;
padding-left:24px;
padding-top: 20px;
color: #FFFFFF;
font-family: Ariel;
font-size: 28px;
font-weight: bold;
}
.nameDiv{
width:126px;
float:left;
padding-left:37px;
padding-top:43px;
}
.siteMap{
width:83px;
float:left;
padding-left:350px;
padding-top:104px;
*padding-top:45px;
*padding-left:485px;
}
.siteIcon{
width:16px;
float:left;
}
.siteTxtDiv{
width:53px;
float:left;
padding-left:7px;
}
a.siteTxt{
font-family:Tahoma;
font-size:11px;
color:#b3980c;
text-decoration:none;
}
a.siteTxt:hover{
font-family:Tahoma;
font-size:11px;
color:#b3980c;
text-decoration:underline;
}
/*menu section*/
.menulist {
width:1241px;
height:14px;
padding-top:10px;
float:left;
/*background:url(../images/menuBg.gif);
background-repeat:repeat-x;*/
margin:0px;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
color:#000000;
padding-bottom:5px;
padding-left:15px;
border: solid 2px #CC3300;
}

.menulist ul{
padding:0px;
margin:0px;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
color:#000000;
position:absolute;
}
.menulist li{
background-image:url(../images/arrow.gif);
background-position:left;
background-repeat:no-repeat;
display:inline;
padding-left:20px;
padding-right:20px;
}
.menulist li ul{
position:absolute;
display:none;
width:205px;
padding:0px;
margin-left:290px;
*margin-left:-140px;
*margin-top:14px;
background:#ededed;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
color:#434242;
border-top:solid 2px #b99b01;
}
.menulist li ul li{
display:block;
padding-top:4px;
padding-left:15px;
margin:0px;
background:#ededed;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
color:#434242;
border-bottom:solid 1px #a4a4a4;
border-left:solid 1px #a4a4a4;
border-right:solid 1px #a4a4a4;
height:19px;
background:url(../images/liULimage.gif);
background-repeat:no-repeat;
background-position:left;
cursor:pointer;
}
.menulist li ul li:hover{
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
color:#EE0000;
}
.menulist ul li:hover ul, .menulist ul li.over ul{
position:absolute;
display:block;
}
/*end menu section*/
/*Body Setion*/
.content{
width:1260px;
float:left;
padding-top:25px;
*padding-top:16px;
}
.leftmenu{
	width: 200px;
	padding-left:10px;
	padding-right:10px;
	float: left;
}
.leftmenu img
{
	padding-left: 20px;
}
.leftImageBottom
{
	font-family: sans-serif;
	font-size: 11px;	
	text-align: center;
	padding-top: 5px;
}
.leftImageBottom a:hover
{
	font-weight: bold;
}
.contentMain
{
	width: 1012px;
	float: left;
	margin-right: 10px;
	border: solid 1px #CC3300;
	margin-top: 25px;
	padding: 8px;
}






.mainleftPic{
width:343px;
float:left;
padding-left:16px;
}
.contentleftTxt{
width:423px;
float:left;
padding-left:11px;
padding-right:8px;
}
.contentHead{
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
font-weight:bold;
color:#ab8f00;
}

.listPic{
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#000000;
line-height:18px;	
}
.contentlistTxt{
width:600px;
padding-left:11px;
padding-right:8px;
	
}
.contentBackTxt{
width:97%;
padding-left:11px;
padding-right:8px;
	
}
/*End Body Setion*/
/*Footer Section*/
.footermark{
width:1260px;
float:left;
padding-top:80px;
*padding-top:90px;
}
.footBg{
width:1260px;
float:left;
height:10px;
background:#d2caca;
}
.footer{
width:1260px;
float:left;
padding-top:5px;
}
.footertext{
width:1260px;
float:left;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#828282;
padding-left:4px;
}
.div2{
width:182px;
float:left;
padding-left:400px;
}
.div2 ul{
margin:0px;
padding:0px;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#3e3e3e;
}
.div2 ul li{
margin:0px;
padding-left:5px;
padding-right:5px;
display:inline;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#3e3e3e;
}
a.footerLinks{
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#3e3e3e;
text-decoration:none;
}
a.footerLinks:hover{
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#3e3e3e;
text-decoration:underline;
}
/*End Footer Section*/
/*sub dropDWD UL end*/
/*for mozzilla*/
.froMozilla1{
position:absolute;
left:20px;
*position:;
*left:;
}
.froMozilla2{
position:absolute;
left:100px;
*position:;
*left:;
}
.froMozilla3{
position:absolute;
left:180px;
*position:;
*left:;
}
.froMozilla4{
position:absolute;
left:260px;
*position:;
*left:;
}
.froMozilla5{
position:absolute;
left:340px;
*position:;
*left:;
}
.froMozilla6{
position:absolute;
left:420px;
*position:;
*left:;
}
/*for mozzilla Ends*/

/*pagination page*/
#user_pager {
	
}

#user_pager a,#user_pager a:link,#user_pager a:active,#user_pager a:visited
	{
	color: red;
	text-decoration: none;
}

#user_pager a .pageno {
	color: black;
}

/*message page*/
div#errorMessages {
/*	background: #ffffcc;
	border: 1px solid #000;*/
	color: red;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
	padding: 3px 3px 5px 10px;
	text-align: left;
	vertical-align: bottom;
	width: 400px;
	position: relative;
	left: 200px;
}

div#loginerrorMessages {
/*	background: #ffffcc;
	border: 1px solid #000;*/
	color: red;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
	padding: 3px 3px 5px 10px;
	text-align: left;
	vertical-align: bottom;
	width: 300px;
}

div#successMessages {
/*	background: #ffffcc;
	border: 1px solid #000;*/
	color: blue;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
	padding: 3px 3px 5px 10px;
	text-align: left;
	vertical-align: bottom;
	width: 600px;
	position: relative;
	left: 20px;
}

/*login page*/
#loginscreen {
	width: 300px;
	text-align: center;
	padding: 20px;
	padding-top: 50px;
	padding-bottom: 50px;
	position: relative;
	left: 200px;
}

/*error page*/
#error404 {
	width: 100%;
	position: relative;
	padding-left: 200px;
	padding-top: 100px;
}
*div#error404 {
	width: 80%;
	position: relative;
	padding-left: 100px;
	padding-top: 100px;
}
/*message page*/
*div#errorMessages{
		padding-left:20px;
		background: #ffffcc;
        border: 1px solid #000;
        color: red;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
        padding: 3px 3px 5px 10px;
        text-align: left;
		vertical-align: bottom;
		width:400px;
		position: relative;
		left:200px;
}
*div#successMessages{
		padding-left:20px;
		background: #ffffcc;
        border: 1px solid #000;
        color: blue;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
        padding: 3px 3px 5px 10px;
        text-align: left;
		vertical-align: bottom;
		width:600px;
		position: relative;
		left:20px;
}



/* **************************** Reg Search Form ****************************** */

.rsform
{
	width: 700px;
	padding-top:20px;
	margin-left: 160px; 
	font-family: ariel;
	font-size: 12px;
}

.rsforminput
{
	float: left;	
	margin-bottom: 35px;
}

.rsformrow
{
	width: 695px;
	float: left;
}
.rsformLbl
{
	width: 150px;
	float: left;
	margin-bottom: 5px;
	padding-right: 10px;
	padding-top: 3px;
}

.rsformVal
{
	width: 140px;
	float: left;
	margin-bottom: 5px;
}
.rsformVal select
{
	width: 144px;
}

.rsformhelp
{
	width: 300px;
	float: left;
	padding-top: 3px;
	padding-left: 5px;	
}

.regverify
{
	width: 800px;
}

.rvform
{
	
	width: 800px;
	margin-top: 25px;
}

.rvformfield
{
	width: 800px;
}

.rvformLbl
{
	width: 250px;
	float: left;
	margin-bottom: 5px;
}

.rvformVal
{
	width: 350px;
	float: left;
	margin-bottom: 5px;
}
.rsformbuttons
{
}

/* ********* login page *********** */
.loginhead
{
	font-size: 12px;
}
.registerhead
{
	font-size: 12px;
}

/* ******************** */

.leftmenucontent
{
	padding-top: 25px;
}
.menuheader
{
	width:180px;
	float: left;
	background-color: #CC3300;
	padding-left: 10px;
	color: #FFFFFF;
	font-family: monospace;
	font-size: 13px;
	font-weight: bold;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-bottom: 5px;
}
.leftmenuitem
{
	width: 180px;
	margin-bottom: 5px;
	padding-left: 5px;
}
.leftmenuitem a
{
	font-family: Ariel;
	font-size: 12px;
	color: #316AC5;
}

/****************************************************************************/
.showprofile
{
	width: 100%;
}
.showprofile tr
{
	width: 810px;
	float: left;
	padding-bottom: 5px;
	
}
.showprofile th
{
	width: 150px;
	color: #4D7032;
}
.showprofile td
{
	width: 250px;

}


/****************************************************************************/

.oddRow
{
	background-color: #D6CEC1;
}

.evenRow
{
	background-color: #D0C8BC;
}

/* *********** PEP ************************** */
.pepcontentMain{
	margin-top: 5px;
}
.peptablist{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.peptablist li{
	list-style-type: none;
	float: left;
	margin-right: 5px;
}
.pepTab a{
	color: #000;
}

.pepTabSel a{
	color: #f00;
	border: 1px #f00 solid;
}

.pepbody{
	float: left;
	width: 900px;
	border: 1px #f00 solid;
}

.sitetabs{
	float: left;
	width: 900px;
}