/* TYPOGRAPHY */
body {
	text-align: left;
	font-family: arial;
	font-size: 80%;
	line-height: 1em;
	color: #444;
}
div {
	font-size: 1em;
}

img {
	border: 0;
}

/* LINKS */
a,a:link
            a:active {
	color: #1465b7;
	text-decoration: none;
}

a:visited {
	color: #1465b7;
	background-color: transparent;
}

a:hover {
	color: #cc0000;
	text-decoration: none;
}

/* END LINKS */ /* HEADINGS */
h1,h2,h3,h4,h5,h6 {
	font-family: tahoma, arial, helvetica, sans-serif;
	font-weight: normal;
}

h1 {
	font-size: 2.2em;
	letter-spacing: -1px;
	line-height: 1.3em;
	margin: 0 0 0.5em 0;
	padding: 0;
	width: 600px;
	color: #000;
}

h2 {
	font-size: 1.4em;
	line-height: 1.5em;
	margin: 0 0 0.5em 0;
	padding: 0;
	color: #000;
}

h3 {
	font-size: 1.3em;
	line-height: 1.3em;
	margin: 0 0 0.5em 0;
	padding: 0;
	color: #000;
	text-align: center;
	margin-top: 10px;
}

h4 {
	font-size: 1.2em;
	line-height: 1.3em;
	margin: 0 0 0.25em 0;
	padding: 0;
	color: black;
	text-align: center;
}

h5 {
	font-size: 1.1em;
	line-height: 1.3em;
	margin: 0 0 0.25em 0;
	padding: 0;
	color: black;
}

h6 {
	font-size: 1em;
	line-height: 1.3em;
	margin: 0 0 0.25em 0;
	padding: 0;
	color: black;
}

/* END HEADINGS */ /* LISTS */
ul.glassList {
	list-style: url(/images/aquadot.jpg) disc outside;
	vertical-align: top;
	line-height: 1.5em;
}

dl {
	margin: 0 0 1.5em 0;
	padding: 0;
	line-height: 1.4em;
}

dl dt {
	font-weight: bold;
	margin: 0.25em 0 0.25em 0;
	padding: 0;
}

dl dd {
	margin: 0 0 0 30px;
	padding: 0;
}
form em
{
	color:red;
}
/* END LISTS */