/* CSS Document */
body{
margin-top:0px;
text-align:center;
}
.container{
margin:0px auto;
width:1024px;
}
.mainDiv{
width:1024px;
float: left;
border:solid 2px #E8E8E8;
}
.headerPart{
width:1024px;
float:left;
padding-bottom:3px;
background-color: #CC3300;
}
.headBgup{
width:1024px;
height:9px;
float:left;
}
.logo{
width:995px;
height:35px;
float:left;
padding-left:24px;
padding-top: 20px;
color: #FFFFFF;
font-family: Ariel;
font-size: 28px;
font-weight: bold;
}
.nameDiv{
width:126px;
float:left;
padding-left:37px;
padding-top:43px;
}
.siteMap{
width:83px;
float:left;
padding-left:350px;
padding-top:104px;
*padding-top:45px;
*padding-left:485px;
}
.siteIcon{
width:16px;
float:left;
}
.siteTxtDiv{
width:53px;
float:left;
padding-left:7px;
}
a.siteTxt{
font-family:Tahoma;
font-size:11px;
color:#b3980c;
text-decoration:none;
}
a.siteTxt:hover{
font-family:Tahoma;
font-size:11px;
color:#b3980c;
text-decoration:underline;
}
/* *************************Body Setion**************************** */
.content{
width:1024px;
float:left;
padding-top:10px;
*padding-top:16px;
}
.leftmenu{
	width: 179px;
	float: left;
	margin-right: 10px;
	border-right: 1px solid #000;
}
.leftmenu img
{
	padding-left: 20px;	/* for itbhu logo on login page */
}
.leftImageBottom
{
	font-family: sans-serif;
	font-size: 11px;	
	text-align: center;
	padding-top: 5px;
}
.leftImageBottom a:hover
{
	font-weight: bold;
}
.contentMain{
	width: 832px;
	float: left;
	margin-right: 0px;
	padding-bottom: 5px;
	border: solid 1px #E4EBFE;
	background-color: #E4EBFE;
}
.mainleftPic{
width:343px;
float:left;
padding-left:16px;
}
.contentleftTxt{
width:423px;
float:left;
padding-left:11px;
padding-right:8px;
}
.contentHead{
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
font-weight:bold;
color:#ab8f00;
}
.listPic{
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#000000;
line-height:18px;	
}
.contentlistTxt{
width:600px;
padding-left:11px;
padding-right:8px;
}
.contentBackTxt{
width:97%;
padding-left:11px;
padding-right:8px;
}
/* ******************************End Body Setion********************************* */
/* ******************************Footer Section********************************* */
.footermark{
width:1024px;
float:left;
padding-top:80px;
*padding-top:90px;
}
.footBg{
width:1024px;
float:left;
height:10px;
background:#E8E8E8;
}
.footer{
width:1024px;
float:left;
padding-top:5px;
}
.footertext{
width:1020px;
float:left;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#828282;
padding-left:4px;
}

.div2{
width:182px;
float:left;
padding-left:400px;
}
.div2 ul{
margin:0px;
padding:0px;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#3e3e3e;
}
.div2 ul li{
margin:0px;
padding-left:5px;
padding-right:5px;
display:inline;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#3e3e3e;
}
a.footerLinks{
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#3e3e3e;
text-decoration:none;
}
a.footerLinks:hover{
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#3e3e3e;
text-decoration:underline;
}
/*End Footer Section*/
/*sub dropDWD UL end*/
/*for mozzilla*/
.froMozilla1{
position:absolute;
left:20px;
*position:;
*left:;
}
.froMozilla2{
position:absolute;
left:100px;
*position:;
*left:;
}
.froMozilla3{
position:absolute;
left:180px;
*position:;
*left:;
}
.froMozilla4{
position:absolute;
left:260px;
*position:;
*left:;
}
.froMozilla5{
position:absolute;
left:340px;
*position:;
*left:;
}
.froMozilla6{
position:absolute;
left:420px;
*position:;
*left:;
}
/*for mozzilla Ends*/

/*pagination page*/
#user_pager {
	
}

#user_pager a,#user_pager a:link,#user_pager a:active,#user_pager a:visited
	{
	color: red;
	text-decoration: none;
}

#user_pager a .pageno {
	color: black;
}

/*message page*/
div#errorMessages {
/*	background: #ffffcc;
	border: 1px solid #000;*/
	color: red;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
	padding: 3px 3px 5px 10px;
	text-align: left;
	vertical-align: bottom;
	width: 400px;
	position: relative;
	left: 200px;
}

div#loginerrorMessages {
/*	background: #ffffcc;
	border: 1px solid #000;*/
	color: red;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
	padding: 3px 3px 5px 10px;
	text-align: left;
	vertical-align: bottom;
	width: 300px;
}

div#successMessages {
/*	background: #ffffcc;
	border: 1px solid #000;*/
	color: blue;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
	padding: 3px 3px 5px 10px;
	text-align: left;
	vertical-align: bottom;
	width: 600px;
	position: relative;
	left: 20px;
}

/*login page*/
#loginscreen {
	width: 300px;
	text-align: center;
	padding: 20px;
	padding-top: 50px;
	padding-bottom: 50px;
	position: relative;
	left: 200px;
}

/*error page*/
#error404 {
	width: 100%;
	position: relative;
	padding-left: 200px;
	padding-top: 100px;
}
*div#error404 {
	width: 80%;
	position: relative;
	padding-left: 100px;
	padding-top: 100px;
}
/*message page*/
*div#errorMessages{
		padding-left:20px;
		background: #ffffcc;
        border: 1px solid #000;
        color: red;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
        padding: 3px 3px 5px 10px;
        text-align: left;
		vertical-align: bottom;
		width:400px;
		position: relative;
		left:200px;
}
*div#successMessages{
		padding-left:20px;
		background: #ffffcc;
        border: 1px solid #000;
        color: blue;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
        padding: 3px 3px 5px 10px;
        text-align: left;
		vertical-align: bottom;
		width:600px;
		position: relative;
		left:20px;
}
/* ************************ Header **************************************** */
.header{
	float:left;
	margin-top: 25px;
	width: 1024px;
}
.headermenu{
	float: left;
	height: 30px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	background-color: #F0F0F0;
}

.headermenu li{
	float: left;
	padding-top: 9px;
	padding-left: 5px;
	padding-right: 10px;
	padding-bottom:8px;
	border-left: 1px solid #E0E0E0;
	border-right: 1px solid #E0E0E0;
}
.headermenu li a{
	color: #105DA5;
}

.hmSelected{
	float: left;
	padding-top: 9px;
	padding-left: 5px;
	padding-right: 10px;
	padding-bottom:8px;
	border-left: 1px solid #E0E0E0;
	border-right: 1px solid #E0E0E0;
	background-color: #FADA91;
}
.logininfo{
	float: right;
	padding-top: 9px;
	color: #979797;
	padding-right: 5px;	
}
/* *********** Page ************************** */
.vspacer20{
	float: left;
	height:20px;
}
.profileimage{
	width: 710px;
	padding: 10px;	
	float: left;
}
.editbutton{
	width: 80px;
	float: left;
	text-align: center;
	height: 21px;
	background-image: url(/images/button.png);
	background-position: left;
	background-repeat: no-repeat;
	margin-top: 10px;
	padding-top: 4px
}
.editbutton a{
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
}

.editbutton  a:hover {
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #ffffff;
}

.profilename{
	float: left;
	padding-top: 5px;
	padding-bottom: 15px;
	padding-left: 10px;
	color: #989697;
	font-weight: bold;
	font-family: Ariel;
	font-size: 14px;
}

.oddRow{
	width: 833px;
	float: left;
	background-color: #D5DEFB;
	padding-top: 5px;
	padding-bottom: 5px;
}
.evenRow{
	width: 833px;
	float: left;
	padding-top: 5px;
	padding-bottom: 5px;
}
.rowdataleft{
	width: 175px;
	float: left;
	color: #999498;
}
.rowdatalefttext{
	float: right;
}
.rowdatamiddle{
	width: 603px;
	float: left;
	padding-left: 5px;
}

.rowdataright{
	width: 50px;
	float: right;
	margin-top: -2px;
}

.lorhead{
	float: left;
	font-family: Ariel;
	font-size: 14px;
	font-weight: bold;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-top: 0px;
}
.lorrow{
	width: 833px;
	float: left;
	padding-bottom: 3px;
}
.lorrow1{
	width: 833px;
	float: left;
	padding-bottom: 3px;
	padding-top: 3px;
	border-top: 1px dotted #000;
}
.smallimage{
	float: left;
	padding-left: 10px;
}
.lormsg1{
	float: left;
	padding-left: 10px;
	color: #115DA9;	
}
.lormsg2{
	float: left;
	padding-left: 5px;
	color: #979795;
}
.lormsg3{
	width: 695px;
	padding-left: 10px;
	padding-top: 3px;
	float: left;
	color: #0058FF;
}
.loraccept{
	width: 70px;
	float: right;
	border: 1px solid #000;
	margin-bottom: 2px;
	margin-right: 10px;
	text-align: center;
}
.lorreject{
	width: 70px;
	float: right;
	border: 1px solid #000;
	margin-top: 3px;
	margin-right: 10px;
	text-align: center;
}
.lorrejectall{
	padding-left: 10px;
	float: left;
}

/* *********** Page ends ************************** */
/* *******************Left Menu********************************** */
.leftmenuitem{
	width:160px;
	/*background-color: #E4EBFE;*/
	background-color: #FFFFFF;
	border-bottom: 2px groove #E8E8E8;
	padding: 10px;
	font-family: sans-serif;
	font-size: 12px;
}


/* *********************Left Menu Ends************************** */
/* *********** PEP ************************** */
.pepcontentMain{
	margin-top: 5px;
}
.peptablist{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.peptablist li{
	list-style-type: none;
	float: left;
	margin-right: 5px;
}
.pepTab a{
	color: #000;
}

.pepTabSel a{
	color: #f00;
	border: 1px #f00 solid;
}

.pepbody{
	float: left;
	width: 900px;
	border: 1px #f00 solid;
}

.sitetabs{
	float: left;
	width: 900px;
}
/* *********** PEP ends ************************** */
