/* CSS Document */
body {
	margin-top: 0px;
	text-align: center;
}

.container {
	margin: 0px auto;
	width: 1024px;
}

.mainDiv {
	width: 1024px;
	float: left;
	border: solid 2px #E8E8E8;
}

.headerPart {
	width: 1024px;
	float: left;
	padding-bottom: 3px;
	background-color: #CC3300;
}

.headBgup {
	width: 1024px;
	height: 9px;
	float: left;
}

.logo {
	width: 995px;
	height: 35px;
	float: left;
	padding-left: 24px;
	padding-top: 20px;
	color: #FFFFFF;
	font-family: Ariel;
	font-size: 28px;
	font-weight: bold;
}

.nameDiv {
	width: 126px;
	float: left;
	padding-left: 37px;
	padding-top: 43px;
}

.siteMap {
	width: 83px;
	float: left;
	padding-left: 350px;
	padding-top: 104px; *
	padding-top: 45px; *
	padding-left: 485px;
}

.siteIcon {
	width: 16px;
	float: left;
}

.siteTxtDiv {
	width: 53px;
	float: left;
	padding-left: 7px;
}

a.siteTxt {
	font-family: Tahoma;
	font-size: 11px;
	color: #b3980c;
	text-decoration: none;
}

a.siteTxt:hover {
	font-family: Tahoma;
	font-size: 11px;
	color: #b3980c;
	text-decoration: underline;
}

/* *************************Body Setion**************************** */
.content {
	width: 1024px;
	float: left;
	padding-top: 10px; *
	padding-top: 16px;
}

.leftmenu {
	width: 179px;
	float: left;
	margin-right: 10px;
}

.leftmenu img {
	padding-left: 20px; /* for itbhu logo on login page */
}

.leftImageBottom {
	font-family: sans-serif;
	font-size: 11px;
	text-align: center;
	padding-top: 5px;
}

.leftImageBottom a:hover {
	font-weight: bold;
}

.contentMain {
	width: 832px;
	float: left;
	margin-right: 0px;
	padding-bottom: 10px;
	border: solid 1px #E4EBFE;
	background-color: #E4EBFE;
}

.mainleftPic {
	width: 343px;
	float: left;
	padding-left: 16px;
}

.contentleftTxt {
	width: 423px;
	float: left;
	padding-left: 11px;
	padding-right: 8px;
}

.contentHead {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #ab8f00;
}

.listPic {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	line-height: 18px;
}

.contentlistTxt {
	width: 600px;
	padding-left: 11px;
	padding-right: 8px;
}

.contentBackTxt {
	width: 97%;
	padding-left: 11px;
	padding-right: 8px;
}

/* ******************************End Body Setion********************************* */
	/* ******************************Footer Section********************************* */
.footermark {
	width: 1024px;
	float: left;
	padding-top: 0px;
}

.footBg {
	width: 1024px;
	float: left;
	height: 10px;
	background: #fff;
}

.footer {
	width: 1024px;
	float: left;
	padding-top: 5px;
}

.footertext {
	width: 1020px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #828282;
	padding-left: 4px;
}

.div2 {
	width: 182px;
	float: left;
	padding-left: 400px;
}

.div2 ul {
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #3e3e3e;
}

.div2 ul li {
	margin: 0px;
	padding-left: 5px;
	padding-right: 5px;
	display: inline;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #3e3e3e;
}

a.footerLinks {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #3e3e3e;
	text-decoration: none;
}

a.footerLinks:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #3e3e3e;
	text-decoration: underline;
}

/*End Footer Section*/ /*sub dropDWD UL end*/ /*for mozzilla*/
.froMozilla1 {
	position: absolute;
	left: 20px; *
	position: ; *
	left: ;
}

.froMozilla2 {
	position: absolute;
	left: 100px; *
	position: ; *
	left: ;
}

.froMozilla3 {
	position: absolute;
	left: 180px; *
	position: ; *
	left: ;
}

.froMozilla4 {
	position: absolute;
	left: 260px; *
	position: ; *
	left: ;
}

.froMozilla5 {
	position: absolute;
	left: 340px; *
	position: ; *
	left: ;
}

.froMozilla6 {
	position: absolute;
	left: 420px; *
	position: ; *
	left: ;
}

/*for mozzilla Ends*/ /*pagination page*/
#pager {
	width: 832px;
	float: left;
	text-align: center;
}

#pager a,#pager a:link,#pager a:active,#pager a:visited {
	color: #3E96FF;
	text-decoration: none;
}

.pageno {
	color: #00000;
}

/*message page*/
div#errorMessages {
	background: #ffffcc;
	border: 1px solid #000;
	color: red;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
	padding: 3px 3px 5px 10px;
	text-align: left;
	vertical-align: bottom;
	width: 400px;
	position: relative;
	left: 200px;
}

div#loginerrorMessages {
	width: 220px;
	float: left;
	background: #ffffcc;
	/*border: 1px groove #000;*/
	color: red;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding: 3px;
	text-align: center;
	margin-left: 301px;
}

div#successMessages { /*background: #ffffcc;
	border: 1px solid #000;*/
	float: left;
	color: blue;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	vertical-align: bottom;
	width: 832px;
	padding-top: 5px;
}

/*login page*/
#loginscreen {
	width: 300px;
	text-align: center;
	padding: 20px;
	padding-top: 50px;
	padding-bottom: 50px;
	position: relative;
	left: 200px;
}

/*error page*/
#error404 {
	width: 100%;
	position: relative;
	padding-left: 200px;
	padding-top: 100px;
}

* div#error404 {
	width: 80%;
	position: relative;
	padding-left: 100px;
	padding-top: 100px;
}

/* ************************ Header **************************************** */
.header {
	float: left;
	margin-top: 10px;
	width: 1024px;
}

.headermenu {
	float: left;
	height: 30px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	background-color: #F0F0F0;
}

.headermenu li {
	float: left;
	padding-top: 9px;
	padding-left: 5px;
	padding-right: 10px;
	padding-bottom: 8px;
	border-left: 1px solid #E0E0E0;
	border-right: 1px solid #E0E0E0;
}

.headermenu li a {
	color: #105DA5;
}

.hmSelected {
	float: left;
	padding-top: 9px;
	padding-left: 5px;
	padding-right: 10px;
	padding-bottom: 8px;
	border-left: 1px solid #E0E0E0;
	border-right: 1px solid #E0E0E0;
	background-color: #FADA91;
}

.logininfo {
	float: right;
	padding-top: 9px;
	color: #979797;
	padding-right: 5px;
}

/* *********** Page ************************** */
.page { /*padding-top: 10px;*/
	padding-bottom: 100px;
}

.vspacer20 {
	width: 832px;
	height: 20px;
	float: left;
}

.vspacer10 {
	width: 832px;
	height: 10px;
	float: left;
}

.profileimage {
	width: 710px;
	padding: 10px;
	float: left;
}

.editbutton {
	width: 80px;
	float: left;
	text-align: center;
	height: 21px;
	background-image: url(/images/button.png);
	background-position: left;
	background-repeat: no-repeat;
	margin-top: 10px;
	padding-top: 4px
}

.editbutton a {
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
}

.editbutton  a:hover {
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #ffffff;
}

.profilename {
	float: left;
	padding-top: 5px;
	padding-bottom: 15px;
	padding-left: 10px;
	color: #989697;
	font-weight: bold;
	font-family: Ariel;
	font-size: 14px;
}

.oddRow {
	width: 833px;
	float: left;
	background-color: #D5DEFB;
	padding-top: 5px;
	padding-bottom: 5px;
}

.evenRow {
	width: 833px;
	float: left;
	padding-top: 5px;
	padding-bottom: 5px;
}

.rowdataleft {
	width: 175px;
	float: left;
	color: #999498;
}

.rowdatalefttext {
	float: right;
}

.rowdatamiddle {
	width: 603px;
	float: left;
	padding-left: 5px;
}

.rowdataright {
	width: 50px;
	float: right;
	margin-top: -2px;
}

.lorhead {
	float: left;
	font-family: Ariel;
	font-size: 14px;
	font-weight: bold;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-top: 0px;
}

.lorrow {
	width: 833px;
	float: left;
	padding-bottom: 3px;
}

.lorrow1 {
	width: 833px;
	float: left;
	padding-bottom: 3px;
	padding-top: 3px;
	border-top: 1px dotted #000;
}

.smallimage {
	float: left;
	padding-left: 10px;
}

.lormsg1 {
	float: left;
	padding-left: 10px;
	color: #115DA9;
}

.lormsg2 {
	float: left;
	padding-left: 5px;
	color: #979795;
}

.lormsg3 {
	width: 695px;
	padding-left: 10px;
	padding-top: 3px;
	float: left;
	color: #0058FF;
}

.loraccept {
	width: 70px;
	float: right;
	border: 1px solid #000;
	margin-bottom: 2px;
	margin-right: 10px;
	text-align: center;
}

.lorreject {
	width: 70px;
	float: right;
	border: 1px solid #000;
	margin-top: 3px;
	margin-right: 10px;
	text-align: center;
}

.lorrejectall {
	padding-left: 10px;
	float: left;
}

/* *********** Page ends ************************** */
	/* *******************Left Menu********************************** */
.leftmenuitem a {
	width: 160px;
	float: left;
	border-bottom: 2px groove #E8E8E8;
	padding: 10px;
	font-size: 12px;
	background-color: #FFFFFF;
}

.leftmenuitem a:VISITED {
	background-color: #FFFFFF;
}

.leftselect a{
	width: 160px;
	float: left;
	border-bottom: 2px groove #E8E8E8;
	padding: 10px;
	font-size: 12px;
	background-color: #E4EBFE;
}
.leftselect a:VISITED{
	background-color: #E4EBFE;
}

.leftmenuitem a img {
	padding: 0px;
	padding-right: 2px;
}

.leftmenuitem a:hover {
	color: #105DA5;
	background-color: #F4F4F0;
}

.leftsubmenuitem a {
	width: 130px;
	float: left;
	background-color: #FFFFFF;
	border-bottom: 2px groove #E8E8E8;
	padding: 10px;
	padding-left: 30px;
	margin-left: 10px;
	font-size: 12px;
}
.leftsubmenuitem a:hover {
	color: #105DA5;
	background-color: #F4F4F0;
}
.leftsubselect a {
	width: 130px;
	float: left;
	background-color: #D5DEFB;
	border-bottom: 2px groove #E8E8E8;
	padding: 10px;
	padding-left: 30px;
	margin-left: 10px;
	font-size: 12px;
}
.leftsubselect a:VISITED{
	background-color: #D5DEFB;
}
/* *********************Left Menu Ends************************** */
	/* *********** PEP ************************** */
.pepcontentMain {
	margin-top: 5px;
}

.peptablist {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.peptablist li {
	list-style-type: none;
	float: left;
	margin-right: 5px;
}

.pepTab a {
	color: #000;
}

.pepTabSel a {
	color: #f00;
	border: 1px #f00 solid;
}

.pepbody {
	float: left;
	width: 900px;
	border: 1px #f00 solid;
}

.sitetabs {
	float: left;
	width: 900px;
}

.pepleftcol {
	width: 80px;
	float: left;
	margin-left: 130px
}

.pepleftcoltext {
	color: #000;
	text-align: center;
}

.peprightcol {
	width: 400px;
	float: left;
	padding-left: 10px;
	color: #000;
	text-align: center;
	text-shadow: gray;
	text-transform: uppercase;
}

/* *********** PEP ends ************************** */
	/* *********** Forms ************************** */
.formleftcol {
	width: 350px;
	float: left;
}

.formleftcoltext {
	float: right;
	color: #000;
	padding-top: 3px;
	text-align: right;
}

.formrightcol {
	width: 400px;
	float: left;
	padding-left: 10px;
	color: #000;
	font-weight: bold;
}

.formbuttons {
	width: 830px;
	float: left;
	text-align: center;
}

.signinbuttons {
	width: 200px;
	float: left;
	padding-left: 359px;
}

.formfootnote {
	width: 832px;
	float: left;
	padding-left: 10px;
}

/* register search*/
.rsleft {
	width: 50px;
	float: left;
	padding-top: 3px;
}

.rsmiddle {
	width: 250px;
	float: left;
	padding-left: 10px;
	padding-top: 3px;
}

.rsright {
	width: 100px;
	float: left;
}

.centermsg {
	width: 832px;
	float: left;
	text-align: center;
	font-family: cursive;
	line-height: 2em;
}

.checkuserresult {
	padding-top: 4px;
	padding-left: 10px;
}

/* *********** Forms ends ************************** */
	/* *********** sr starts ************************** */
.srtopleft {
	width: 410px;
	float: left;
	padding-left: 10px;
}

.srtopright {
	width: 820px;
	float: right;
	padding-right: 10px;
	text-align: right;
}

.srcol1 {
	width: 25px;
	float: left;
	padding-right: 5px;
	padding-left: 10px;
}

.srcol2 {
	width: 160px;
	float: left;
	padding-right: 5px;
	padding-top: 3px;
}

.srcol3 {
	width: 50px;
	float: left;
	padding-right: 5px;
	padding-top: 3px;
}

.srcol4 {
	width: 40px;
	float: left;
	padding-right: 5px;
	padding-top: 3px;
}

.srcol5 {
	width: 55px;
	float: left;
	padding-right: 5px;
	padding-top: 3px;
}

.srcol6 {
	width: 50px;
	float: left;
	padding-right: 5px;
	padding-top: 3px;
}

.srcol7 {
	width: 100px;
	float: left;
	padding-right: 5px;
	padding-top: 3px;
	line-height: 14px;
}

.srcol8 {
	width: 75px;
	float: left;
	padding-right: 5px;
	padding-top: 3px;
}

.srcol9 {
	width: 100px;
	float: left;
	padding-right: 5px;
	padding-top: 3px;
}

.srcol10 {
	width: 110px;
	float: left;
	padding-right: 10px;
	padding-top: 3px;
}

/* ******************* view profile ***************************** */
.vprowdataleft {
	width: 250px;
	float: left;
	color: #999498;
}

.vprowdatalefttext {
	float: right;
}

.vprowdataright {
	width: 577px;
	float: left;
	padding-left: 5px;
}

.vphead {
	width: 99px;
	float: right;
	background-color: #BECFFB;
	font-family: sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-align: right;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 2px;
}

.vprowdata {
	width: 822px;
	float: left;
	padding-left: 10px;
}

.vprowdata1 {
	width: 400px;
	float: left;
	padding-left: 10px;
}

.vprowdata2 {
	width: 200px;
	float: left;
	padding-left: 11px;
}

.vprowdata3 {
	width: 200px;
	float: left;
	padding-left: 11px;
}

.vpsubhead {
	padding-right: 10px;
	text-align: right;
	font-style: italic;
}

.mailleftcol {
	width: 190px;
	float: left;
}

.mailleftcoltext {
	float: right;
	color: #000;
	padding-top: 3px;
	text-align: right;
}

.mailrightcol {
	width: 400px;
	float: left;
	padding-left: 10px;
	color: #000;
	font-weight: bold;
}

/* ************* friend section ******************* */
.flbox {
	width: 391px;
	float: left;
	padding-left: 10px;
	margin-right: 5px;
	margin-left: 8px;
	height: 110px;
	padding-top: 5px;
	background-color: #82CA83;
	margin-bottom: 10px;
}

.flinnerbox {
	float: left;
}

.flimage {
	width: 100px;
	height: 100px;
	float: left;
	padding-right: 10px;
}

.fldetail {
	width: 260px;
	float: left;
	padding-bottom: 8px;
	padding-top: 2px;
	text-align: left;
}

.fldel {
	width: 20px;
	float: left;
	margin-top: -68px;
}

/* ******************** authorization ******************** */
.appcol1 {
	width: 25px;
	float: left;
	margin-top: -3px;
}

.appcol2 {
	width: 175px;
	float: left;
}

.appcol3 {
	width: 200px;
	float: left;
}

.appcol4 {
	width: 60px;
	float: left;
}

.appcol5 {
	width: 100px;
	float: left;
}

.appcol6 {
	width: 70px;
	float: left;
}

.appcol7 {
	width: 100px;
	float: left;
}

.appcol8 {
	width: 100px;
	float: left;
}

.claimdetail {
	width: 790px;
	float: left;
	margin-left: 25px;
	margin-right: 15px;
	margin-top: 2px;
	margin-bottom: 2px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #E4E4F1;
	display: none;
}

.detRow {
	width: 790px;
	float: left;
}

/* ********************* lists ************************* */
.listleft {
	width: 200px;
	float: left;
	margin-left: 171px;
}

.listright {
	width: 331px;
	float: left;
	padding-left: 10px;
}

.addchapter {
	width: 667px;
	float: left;
	padding-left: 165px;
	display: none;
}

.editchapter {
	width: 667px;
	float: left;
	padding-left: 165px;
	display: none;
}

.addRow {
	float: left;
	background-color: #B6C8DC;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
}

.rowImage {
	float: left;
	margin-top: 1px;
}

.rowData {
	float: left;
	padding-left: 10px;
}

/* *************** user role ********************* */
.urcol1 {
	width: 150px;
	float: left;
	margin-left: 100px;
}

.urcol2 {
	width: 250px;
	float: left;
	padding-left: 10px;
}

.urcol3 {
	width: 100px;
	float: left;
	padding-left: 10px;
}

.urcol4 {
	width: 100px;
	float: left;
	padding-left: 10px;
}

.rglistleft {
	width: 200px;
	float: left;
	margin-left: 271px;
}

.rglistright {
	width: 331px;
	float: left;
	padding-left: 10px;
}

.addregion {
	width: 667px;
	float: left;
	padding-left: 257px;
	display: none;
}

.editregion {
	width: 667px;
	float: left;
	padding-left: 257px;
	display: none;
}

.brlistleft {
	width: 100px;
	float: left;
	margin-left: 221px;
}
.brlistmiddle {
	width: 250px;
	float: left;
}
.brlistright {
	width: 231px;
	float: left;
	padding-left: 10px;
}

.addbranch {
	width: 667px;
	float: left;
	padding-left: 147px;
	display: none;
}

.editbranch {
	width: 667px;
	float: left;
	padding-left: 147px;
	display: none;
}
/* **************** edit ******************* */
.editrowdataleft {
	width: 175px;
	float: left;
	color: #999498;
	padding-top: 4px;
}
.editrowdatalefttext {
	float: right;
}
.editrowdatamiddle {
	width: 503px;
	float: left;
	padding-left: 5px;
}
.editrowdataright {
	width: 140px;
	float: right;
	text-align: right;
	padding-right: 10px;
}